.grow{
    opacity: 0.8;
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.1);
    transition:all 0.3s ease;
    opacity: 1;
}

#bcg{
    background-color: black;
    border: solid;
    color: white;
    border-width: unset;
    border-radius: 5%;
}